#checkout-step-cartupsell {
  margin: 0;
  padding: 0;
}

.cartupsell-product-img {
  float: left;
}

h2.cartupsell-product-head {
  color: white !important;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 15px;
  background: none repeat scroll 0 0 #2E65A1;
  border-radius: 2px;
  margin: 0;
  margin-bottom: 5px;
  width: 359px;
  float: right;
  height: 22px;
  overflow: hidden;
}

.cartupsell-product-info,
.cartupsell-product-priceinfo {
  padding: 5px;
  width: 363px;
  float: right;
}

.cartupsell-product-priceinfo {
  background-color: #ffff9a;
  color: #c50a00;
}

.cartupsell-product-info {
  list-style-type: disc;
  height: 120px;
  overflow: auto;
}

.cartupsell-product-info ul {
  list-style-type: disc;
  padding-left: 20px;
}


.cartupsell-product-dontaddtocart {
  margin-right: 20px !important;
}

.cartupsell-product-addtocart {
  width: 180px !important;
}

#cartupsell-buttons-container {
width:auto;
margin-top:10px;
float:right;
}

.cartupsell-product-addtocart span  {
  background-image: url(../../../images/ThaneAustria/cartupsell/btn_tocart.jpeg) !important;
  width: 180px !important;
}

.cartupsell-product-dontaddtocart span {
  background-image: url(../../../images/ThaneAustria/cartupsell/btn_nothx.jpeg) !important;
}

.cartupsell-product-addtocart span span,
.cartupsell-product-dontaddtocart span span {
  background-image: none !important;
}
