  <fieldset>
    <div class="cartupsell-product-box" id="checkout-cartupsell-load">
      <?php ///echo $this->getChildHtml('info');?>     
    </div>
    <!-- 
        <div class="buttons-set" id="cartupsell-buttons-container">
      <button class="button cartupsell-product-addtocart" type="button" title="<?php echo $this->__('Yes, add to cart') ?>" onclick="cartupsell.save(1)"><span><span><?php echo $this->__('Yes, add to cart') ?></span></span></button>
      <button class="button cartupsell-product-dontaddtocart" type="button" title="<?php echo $this->__('No, thanks') ?>" onclick="cartupsell.save(0)"><span><span><?php echo $this->__('No, thanks') ?></span></span></button>

        
        <span class="please-wait" id="cartupsell-please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Yes, add to cart') ?>" title="<?php echo $this->__('Loading next step...') ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
    </div> -->
  </fieldset>
 <button class="button cartupsell-product-dontaddtocart" type="button" title="<?php echo $this->__('No, thanks') ?>" onclick="productAddToCartForm.save2()"><span><span><?php echo $this->__('No, thanks') ?></span></span></button>
  
  <script type="text/javascript">
//<![CDATA[
    var productAddToCartForm = new CartupsellMethod('product_addtocart_form','<?php echo $this->getUrl('custom/onepage/saveCartupsell',array('_secure'=>true)) ?>');
     new VarienForm('product_addtocart_form');
    
//]]>
</script>

